# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example

# Terraform plan files
*.tfplan
tfplan

# OS/editor
.DS_Store
.vscode/

override.tf
override.tf.json
*_override.tf
*_override.tf.json